img {
    width: 100%;
}


body {

    margin: 0;
    font-family: HelveticaNeueW01-45Ligh, Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-rendering: optimizeLegibility;

}

/*EFFEKTER*/
.hide {
    display: none;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.quotes {
    display: none;
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade_in {
    animation-name: fadein_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fadein_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 20px;
    height: 20px;
    margin: -75px 0 0 -75px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid rgba(219, 52, 103, 0.82);
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}


.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}

/*EFFEKTER-SLUT*/



.header {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    flex-direction: column;
    text-align: center;

    position: absolute;
    width: auto;

    background: rgba(255, 255, 255, 0.65);
    list-style: none;

    margin: 20px;
    padding: 20px;
    z-index: 99;
}

.header a {
    /*    display: inline-block;*/

    padding: 20px;
    margin: 70px;

}

.header a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;

}

.header a:first-child {
    color: #dd0d0d;
}

.header a:hover {
    color: white;
    transform: rotateZ(45deg);
}

ol {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;

    padding: 0px;
}

ol a {
    text-decoration: none;
    color: black;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

ol a:hover {
    color: grey;
    cursor: none;
}

/*FORSIDE*/
picture {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*FORSIDE-SLUT*/

/*PORTFOLIO*/
#portfolio h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px rgba(92, 88, 88, 0.76);
    font-weight: 100;
    font-size: 1.5rem;
    color: whitesmoke;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: -10px;

}

#portfolio {
    margin: 0px;

}

/*
#portfolio .container {
    display: flex;
    flex-wrap: wrap;

    margin: 70px 0px 50px 0px;

    flex-direction: row;
    justify-content: space-around;

}
*/


#portfolio .sidebar {
    position: fixed;

    /*
    flex-grow: 100px;
    flex-basis: 30%;
*/

    z-index: 1;

    background-image: linear-gradient(#d6d3de, #f3f2f4);

    top: 120px;
    left: 0px;
    height: 70vh;
    width: 40vh;
    overflow-y: scroll;
}

/*
#portfolio .column_wide {
    flex-grow: 200px;
    flex-basis: 65%;

    border: 1px solid white;
    background-image: linear-gradient(#bbb5c9, #efedf2);
}
*/



/*PORTFOLIO-SLUT*/

/*CV - OM MIG*/

.container_gallery {
    border-radius: 50%;
}

.gallery {
    display: grid;
    flex-wrap: wrap;
    margin: 20px;
    position: absolute;

    top: 100vh;

    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: span var(--row-span, 20);
}


.arrow {
    position: absolute;
    height: 200px;
    width: 100px;

    top: 75vh;
    left: 10vh;
}

.banner {
    display: flex;
    justify-content: center;
    background-image: url(billeder/profil.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;

    animation-name: appear;
    animation-duration: 2s;
    animation-delay: linear;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}

@keyframes appear {
    from {
        left: 0px;
    }

    to {
        left: 875px;
    }
}

.banner_inside h1 {
    position: absolute;
    left: 125px;
    top: 150px;

    font-family: 'Playfair Display SC', serif;
    font-size: 6rem;
    color: #c4c3c3;
}

.p_text p {
    position: absolute;

    color: #f4879a;
    left: 80px;
    top: 115vh;
    height: 50vh;
    width: 80vh;
    font-size: 1.5rem;
    padding-bottom: 50px;
}

@media screen and (max-width: 793px) {
    .banner_inside h1 {
        font-size: 2rem;
        left: 300px;
        top: 150px;
    }
}

@media screen and (max-width: 793px) {
    .p_text p {
        top: 800px;
        margin: 50px;
    }
}

@media screen and (max-width: 535px) {
    .p_text p {
        top: 800px;
        margin: 50px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 793px) {
    .banner {
        height: 50vh;
        left: 10px;
        top: 300px;

        animation-duration: 1s;
    }

    @keyframes appear {
        from {
            left: 0px;
        }

        to {
            left: 250px;
        }
    }
}

.curriculum_vitae {
    position: absolute;
    top: 110vh;
    left: 110vh;
    height: 90vh;
    width: 70vh;
}


.footer {
    background: rgba(0, 0, 0, 0.44);
    height: 10vh;
    margin: 0px;

    font-size: 1rem;
    text-decoration: none;
    color: black;

}
